<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#    {% load staticfiles %}#}

{#    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>#}
</head>
<body>

<form action="{% url 'new_post' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="post_text"/>
    <input type="submit" value="Submit"/>
    <br/>
</form>

{% if latest_post_list %}
    <ul>
        {% for post in latest_post_list %}
            <h1>{{ post.poster }} --
                {{ post.pub_date }}</h1><br/>
            <h1>{{ post.text }}</h1><br/>

        {% endfor %}
    </ul>
    -----------------------------------------------------------------------------
{% else %}
    <p>No posts were available.</p>
{% endif %}

</body>
</html>