{% extends 'base.html' %}

{% block content %}

    {% if profile %}
        <div style="background: white; padding: 16px">
            {% if form %}
                <form action="{% url 'profile' profile.username %}" method="POST" enctype="multipart/form-data"
                      class="form-group">
                    {% csrf_token %}
                    <br>
                    <ul>
                        <H3>Username</H3>
                        <input name="username" class="form-control" value="{{ user.username }}"/>
                        <br/>
                        <H3>E-mail</H3>
                        <input name="email" class="form-control" value="{{ user.email }}"/>
                        <br/>
                        <H3>First name</H3>
                        <input name="firstname" class="form-control" value="{{ user.first_name }}"/>
                        <br/>
                        <H3>Last name</H3>
                        <input name="lastname" class="form-control" value="{{ user.last_name }}"/>
                        <br/>

                    </ul>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p style="float:left; text-align:right; clear:both; margin-top:5px; margin-left:16px">
                        {{ form.docfile }}
                    </p>

                    <input type="submit" value="Submit" class="btn btn-primary" style="float:right;"/>
                    <br/>

                </form>
            {% else %}
                {% if is_friend == 0 %}
                    <form action="{% url 'add_friend' profile.username %}" method="POST" class="form-group">
                {% else %}
                    <form action="{% url 'remove_friend' profile.username %}" method="POST" class="form-group">
                {% endif %}
            {% csrf_token %}
            <ul>

                <H1>{{ profile.username }}</H1>
                <br/>
                <H5>E-mail : {{ profile.email }}</H5>
                <br/>
                <H5>First Name : {{ profile.first_name }}</H5>
                <br/>
                <H5>Last Name : {{ profile.last_name }}</H5>
            </ul>
            <br>
            <br>
            <br>
            <br>
            {% if is_friend == 0 %}
                <input type="submit" value="add friend" class="btn btn-primary pull-right pad"/>
            {% else %}
                <input type="submit" value="remove friend" class="btn btn-danger pull-right pad"/>
            {% endif %}

            </form>
            {% endif %}
            <br/>
            <br/>
            {#        </ul>#}
        </div>
    {% else %}
        <p>No person found with this username.</p>
    {% endif %}
{% endblock %}