{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <form class="form-signin" method="POST" action="{% url 'registration_post' %}">
                {% csrf_token %}
            <h2 class="form-signin-heading">Registration</h2>

            <label for="inputName" class="sr-only">Name</label>
            <input type="text" name="inputName" class="form-control" placeholder="Name" required="" autofocus="">

            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="inputEmail" class="form-control" placeholder="Email address" required=""
                   autofocus="">

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="inputPassword" class="form-control" placeholder="Password" required="">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>

    </div>
{% endblock %}