{% extends 'base.html' %}

{% block content %}

        {% if searchresults %}
                {% for person in searchresults %}

                    <a href="{% url 'profile' person.username %}">
                        <div style="padding: 32px; margin:10px;background: white">
                            <img src="{{ person.userinfo.profile_pic }}" width="50px" height="50px"
                                 class="pull-left pad"
                                 style="margin: 5px;"/>
                            <h5 class="pull-left" href="{% url 'profile' person %}">{{ person.userinfo }}</h5>
                            <br>
                        </div>
                    </a>
                {% endfor %}
        {% else %}
            <p>No user was found.</p>
        {% endif %}
{% endblock %}